@page
@model HonorAmongThieves.Pages.HeistModel 
<div id="startButtonDiv" style="display:none" class="h5">
    <br />
    <div style="text-align:center">
        <input type="button" id="startbutton" value="BEGIN GAME" class="display-2" /><br /><br />
        <input type="button" id="addbotbutton" value="ADD BOT" class="display-4" />
        <br />
        <br />
        <div class="display-4">
            <u>GAME PARAMETERS</u><br />
            Betrayal Reward: <input type="number" step="1" min="0" max="99999" value="60" id="betrayalreward" /><br />
            Min Game Length: <input type="number" step="1" min="1" max="999" value="5" id="mingamelength" /><br />
            Max Game Length: <input type="number" step="1" min="3" max="999" value="10" id="maxgamelength" /><br />
            Min Heist Size: <input type="number" step="1" min="2" max="99" value="3" id="minheistsize" /><br />
            Max Heist Size: <input type="number" step="1" min="2" max="99" value="5" id="maxheistsize" /><br />
            Blackmail Window: <input type="number" step="1" min="-1" max="99" value="4" id="snitchblackmailwindow" /><br />
            Blackmail Reward %: <input type="number" step="1" min="1" max="99" value="60" id="blackmailrewardpercentage" /><br />
            Networth Fudge %: <input type="number" step="1" min="0" max="99" value="10" id="networthfudgepercentage" /><br />
            Jail Fine %: <input type="number" step="1" min="0" max="99" value="20" id="jailfinepercentage" /><br />
        </div>
    </div>
    <br />
</div>