@page
@model HonorAmongThieves.Pages.HeistModel
<title>HEIST</title>
<div class="container">
    @await Html.PartialAsync("_GameLobby")
    @await Html.PartialAsync("Lobbies/_HeistLobby", Model)

    <div class="state" id="gamestart" style="display:none">
        <div class="state" id="heiststatus" style="display:none">
            <div class="state h3" id="heistmembers" style="display:none">
                <u>Heist Members:</u>
                <ul id="heistMemberList"></ul>
            </div>
            <div style="text-align:center">
                <h4 id="heiststatusmessage"></h4><br />
                <div class="state h4" id="jailbuddies" style="display:none"></div>
                <div class="state h4" id="newtojail" style="display:none"></div>
                <div class="state h4" id="successfulheisters" style="display:none"></div>
                <div class="state h4" id="heistsummary" style="display:none"></div>
                <input type="button" id="okaybutton" value="OKAY" class="display-1" style="display: block; margin:0 auto;" />
            </div>
        </div>

        <div class="state" id="heistsetup" style="display:none">
            <h2 id="heistnetworth"></h2>
            <h2 id="snitchingreward"></h2>
            <br />
            <div style="text-align:center" class="h3">
                <u>HEIST PARTICIPANTS</u>
                <table border="1" id="heistparticipants" align="center" class="h4">
                    <tr>
                        <th>Name</th>
                        <th>Valuation</th>
                        <th>Years In Jail</th>
                    </tr>
                </table>
            </div>
            <hr />
            <div class="display-4" style="text-align:center">
                TAKE PART: <input type="checkbox" id="goforheistcheck" style="width:60px; height:60px" checked /> <br />
                SNITCH: <input type="checkbox" id="snitchtopolicecheck" style="width:60px; height:60px" /> <br />
                <div id="blackmaildisabled" class="h2" style="display:none">
                    --BLACKMAIL DISABLED-- <br />
                    <div id="cannotblackmailmessage" class="h4">Must go on heist to Blackmail</div>
                </div>

                <div id="blackmailselection"></div> <h6><br /></h6>
                <input type="button" id="makedecision" value="DECIDE" class="display-4" />
            </div>
            <hr />
            <br />
        </div>
        <hr />
        <div class="h3">
            <u>Player Information</u>
            <div id="playername"></div>
            <div id="years"></div>
            <div id="networth"></div>
            <div id="nextjailtime"></div>
            <div id="yearstillsnitchingpurge"></div>
        </div>
        <div class="h4">
            <u>Game Information</u>
            <div id="gamelength"></div>
            <div id="blackmailwindow"></div>
            <div id="blackmailreward"></div>
            <div id="jailfine"></div>
            <br />
            <ul id="playerReadyList" class="h5"></ul>
        </div>
    </div>

    <div class="state h2" id="endofgame" style="display:none; text-align:center">
        <div id="finalyear"> </div>
        <table border="1" id="leaderboard" style="font-size:100%" align="center" class="h2">
            <tr>
                <th>Thief</th>
                <th>Networth</th>
                <th>Snitch Count</th>
                <th>Jail Time</th>
            </tr>
        </table>
        <hr />
        <a href="/">FINISH</a>
    </div>
</div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/heist.js"></script>
<script src="~/js/gamelobby.js"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
