@page
<div class="container">
    <h2>
        <u>
            <div id="pageName">JOIN A GAME</div>
        </u>
    </h2>

    <div class="state" id="startLobby" style="display:none">
        <ul id="lobbyList"></ul>

        <div id="startButtonDiv" style="display:none">
            At least 4 players are required to start the game.<br />
            Make sure there are no players who are in the lobby but cannot see the game!!.<br />
            <br />
            <input type="button" id="startbutton" value="START GAME" />
            <br />
            <br />
            <h4>Custom room parameters</h4>
            Betrayal Reward: <input type="number" step="1" min="0" value="60" id="betrayalreward" /><br />
            Max Game Length: <input type="number" step="1" min="3" value="15" id="maxgamelength" /><br />
            Maximum Heist Size: <input type="number" step="1" min="2" value="5" id="maxheistsize" /><br />
            <br />
        </div>
    </div>
    <div class="row">&nbsp;</div>

    <div class="state" id="joinroom">
        <input type="button" id="createroombutton" value="CREATE ROOM" />
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            Names are unique per room.<br />
            Only letters and numbers allowed in username. Username cannot be longer than 10 letters.<br />
            You need a username to create a room.<br /><br />
            User Name: <input type="text" id="username" /><br />
            Room ID: <input type="text" id="roomid" /><br /><br />
            <input type="button" id="joinroombutton" value="JOIN ROOM" />
        </div>
    </div>

    <div class="state" id="gamestart" style="display:none">
        <u><h4>Player Information</h4></u>
        <h4 id="playername"></h4>
        <h4 id="years"></h4>
        <h4 id="networth"></h4>
        <h4 id="nextjailtime"></h4>
        <br />

        <div class="state" id="jailnotification" style="display:none">
            <h2>YOU ARE IN JAIL</h2>
            <h3 id="jailstatus"></h3>
        </div>

        <div class="state" id="heistsetup" style="display:none">
            <u><h4>Current Heist</h4></u>
            <h4 id="heistnetworth"></h4>
            <h4 id="snitchingreward"></h4>
            <table border="1px solid black" id="heistparticipants">
                <tr>
                    <th>Thief</th>
                    <th>Estimated Networth</th>
                    <th>Time Spent In Jail</th>
                </tr>
            </table>
        </div>

        <div class="state" id="heistacted" style="display:none">
            <h3 id="heistchoice"></h3>
        </div>

        <div class="state" id="heistresult" style="display:none">
            <h3 id="heistresolution"></h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/heist.js"></script>