@page
@model HonorAmongThieves.Pages.IndexModel
<br />
<div style="text-align:center; font-size:300%">
    <h1><a href="/Heist">HEIST</a></h1>
    <h4><a href="HeistInstructions.html">Instructions</a></h4>
</div>
<hr />
<h2><u>Existing Lobbies</u></h2>
@{
    <h3><u>Heist Lobbies</u></h3>
    <table border="1px solid black">
        <th>Room ID</th>
        <th>Start Time</th>
        <th>Updated Time</th>
        @foreach (var heistGame in Model.HeistLobbies)
        {
            <tr>
                <th>@heistGame.Item1</th>
                <th>@heistGame.Item2.ToString()</th>
                <th>@heistGame.Item3.ToString()</th>
            </tr>
        }
    </table>
}
